@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1><b>Maintenance Made<br /> <span>Easy.</span></b></h1>
            <h5>Middle East’s No.1 Transportation Ecosystem</h5>
            <p>
                Optimize your transportation operations and fleet management
                with our transport management solutions, maximizing efficiency.
            </p>
            <a asp-controller="Maintenance" asp-action="Create" type="submit" class="btn btn-primary">Submit Maintenance Query</a>
        </div>
        <div class="col-md-6">
            <img src="/Images/hero-section-img.png" alt="Truckhoom Hero Image" class="img-fluid" />
        </div>
    </div>
</div>


